@model IEnumerable<SA52T03_SWStore.Models.Order>

@{
    ViewData["Title"] = "My Purchase";
}
<h3>My Purchase</h3>
<hr />

<table>
    @foreach (Order item in Model)
    {
        @foreach (OrderDetail orderdetail in item.OrderDetail)
        {
            <tr>
                <td width="30%">
                    <div class="card" style="border:1px solid #008cba; border-radius: 5px;" align="center">
                        <img src="@orderdetail.Product.Image" width="200" height="240" />
                        <div class="card-body">
                            <p class="card-title h5"><b style="color:#2c3e50">@orderdetail.Product.Name</b></p>
                            <p class="card-text">@orderdetail.Product.Description</p>
                        </div>
                    </div>
                </td>
                <td>
                    <table>
                        <tr>
                            <td>
                                Purchased On:
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderDate)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Quantity:
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => orderdetail.Quantity)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Activation Code:
                            </td>
                            <td>
                                <select>
                                    @for (int i = 0; i < orderdetail.Quantity; i++)
                                    {
                                        <option>
                                            @("O00" + orderdetail.Id)-@("P00"+orderdetail.ProductId)-@("N00"+i)
                                        </option>
                                    }
                                </select>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        }
    }
</table>
